<!--<div style="text-align:center">-->
<!--<dealer-onboarding></dealer-onboarding>-->

<!--<h3>Address form</h3>
<my-form></my-form>-->

<!--<app-dialog-demo></app-dialog-demo>
    <app-tooltip-demo></app-tooltip-demo>
    <app-snackbar-demo></app-snackbar-demo>-->
<!--</div>-->
<div>
    <!--<app-menudemo></app-menudemo>-->
    <!--<app-sidenavdemo></app-sidenavdemo>-->
    <!--<app-toobardemo></app-toobardemo>-->
    <!--<app-tabledemo></app-tabledemo>-->
    <!--<app-parent-component></app-parent-component>-->
    <!--<app-create-table></app-create-table>-->
    <app-fixedsidenavdemo></app-fixedsidenavdemo>
    <!--<router-outlet></router-outlet>-->
    <!--<app-stepper-demo></app-stepper-demo>-->
    <!--<app-aggrid-demo></app-aggrid-demo>-->


</div>